{% extends 'base.twig' %}

{% block title %} Liste contacts
{% endblock %}
 {% block nav %}
     <a href="/admin">Accueil Admin</a>
     <a href="/admin/contact"> Contacts </a>
 {% endblock %}

    {% block main %}

        <h4> Les demandes de contacts</h4>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.NOM }}</td>
                    <td>{{ contact.MESSAGE }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}