{% extends 'base.twig' %}

{% block title %} {% if voiture.ID %} Éditer le modèle {{ voiture.MODELE }} {% else %} Ajout d'un nouveau modèle  {% endif %}
{% endblock %}

{% block nav %}
    <a href="/admin">Accueil Admin</a>
    <a href="/admin/contact"> Contacts </a>

{% endblock %}

{% block main %}

    <article>

        <h2>{% if voiture.ID %} Éditer le modèle {{ voiture.MODELE }} {% else %} Ajout d'un nouveau modèle  {% endif %}</h2>

        <a href="/admin">Retour à la liste des modèles</a>
        <form method="POST" action="">

            <fieldset>
                <label for="model">Modèle</label>
                <input type="text" id="model" name="model" value="{{ voiture.MODELE }}" required />

                <label for="price">Prix (€)</label>
                <input type="text" id="price" name="price" value="{{ voiture.PRIX }}" required />

                <label for="power">Puissance (CV)</label>
                <input type="text" id="power" name="power" value="{{ voiture.PUISSANCE }}" required />

                <label for="couple">Couple (NM)</label>
                <input type="text" id="couple" name="couple" value="{{ voiture.COUPLE }}" required />

                <label for="speed">Vitesse Maximum (km/h)</label>
                <input type="text" id="speed" name="speed" value="{{ voiture.VITESSE_MAX }}" required />

                <label for="acceleration">Acceleration 0-100km/h (secondes)</label>
                <input type="text" id="acceleration" name="acceleration" value="{{ voiture.ACCELERATION }}" required/>

                <label for="energy">Carburant</label>
                <select name="energy" id="energy" required>
                        <option value='Essence' {% if voiture.ENERGIE == 'Essence' %} selected {% endif %}>Essence</option>
                        <option  value='Diesel' {% if voiture.ENERGIE == 'Diesel' %} selected {% endif %}>Diesel</option>
                </select>


                <label for="engine">Moteur</label>
                <input type="text" id="engine" name="engine" value="{{ voiture.MOTEUR }}" required/>

            </fieldset>
            <button>{% if voiture.ID %} Edit {% else %} Save {% endif %}</button>
        </form>

    </article>

{% endblock %}