{% extends 'base.twig' %}

{% block title %} Administration
{% endblock %}
{% block nav %}
    <a href="/admin">Accueil Admin</a>
    <a href="/admin/contact"> Contacts </a>

{% endblock %}

    {% block main %}
            <h2>Administrer My Little Audi</h2>

        <a href="/voitures/form">Ajouter un nouveau modèle</a>

        <table>
            <thead>
            <tr>
                <th>Modèle</th>
                <th>Prix</th>
                <th>Puissance</th>
                <th>Couple</th>
                <th>Vitesse Maximum</th>
                <th>Acceleration</th>
                <th>Carburant</th>
                <th>Moteur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for voiture in voitures %}
                <tr>
                    <td>{{ voiture.MODELE }}</td>
                    <td>{{ voiture.PRIX }}</td>
                    <td>{{ voiture.PUISSANCE }}</td>
                    <td>{{ voiture.COUPLE }}</td>
                    <td>{{ voiture.VITESSE_MAX }}</td>
                    <td>{{ voiture.ACCELERATION }}</td>
                    <td>{{ voiture.ENERGIE }}</td>
                    <td>{{ voiture.MOTEUR }}</td>
                    <td>
                        <a href="/voiture/{{ voiture.ID }}">Consulter</a>
                        <a href="/voitures/form/{{ voiture.ID }}">Éditer</a>
                        <a href="/voitures/delete/{{ voiture.ID }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}