<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
</head>
<body>
<div id="page-container">
    <div id="content-wrapper">
        <header>
            <nav>
                {% block nav %}
                    <a href="/">Accueil</a>
                    <a href="/contact">Nous contacter</a>
                {% endblock %}
            </nav>
        </header>

        <main >
            {% block main %}
            {% endblock %}
        </main>
    </div>
    <footer id="footer">
        <img src="/assets/img/final%20transparent.png" alt="My Little Audi" />
    </footer>
</div>

</body>
</html>