{% extends 'base.twig' %}
{% block title %}contact
{% endblock %}
    {% block main %}
        <article>
            <h2>Nous contacter</h2>
            <form method="POST" action="">
               <fieldset>
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" required>

                <label for="message">Message</label>
                <textarea name="message" id="message" required></textarea>
               </fieldset>
                <button> Envoyer </button>
            </form>
        </article>
    {% endblock %}