{% extends 'base.twig' %}
{% block title %} Détails modèle {{ voitule.MODELE }}
{% endblock %}
{% block main %}
    <div class="grid">
        <article>
            <h2>Découvrez le modèle {{ voiture.MODELE }}</h2>

            <div class="photos">
                {% if voiture.PHOTO_2 is not null and voiture.PHOTO_3 is not null %}
                    {% if voiture.PHOTO_2 is not null %}
                        <div class="latérale">
                            <h4>vue latérale :</h4>
                            <img src="/assets/img/{{ voiture.MODELE|replace({' ' :''}) }}/{{ voiture.PHOTO_2 }}" class="thumb">
                        </div>
                    {% endif %}
                    {% if voiture.PHOTO_3 is not null %}
                        <div>
                            <h4> Vue arrière :</h4>
                            <img src="/assets/img/{{ voiture.MODELE|replace({' ' :''}) }}/{{ voiture.PHOTO_3 }}" class="thumb">
                        </div>
                    {% endif %}
                {% else %}
                    <h4> Il n'y a pas de visuel disponible pour ce modèle </h4>
                {% endif %}
            </div>

            <div class="card">
                <img src="/assets/img/{{ voiture.MODELE|replace({' ' :''}) }}/{{ voiture.PHOTO_1 }}"
                     alt="{{ voiture.MODELE }}" class="thumb"/>
                <dl>
                    <dt>Modèle</dt>
                    <dd>{{ voiture.MODELE }}</dd>
                    <dt>Prix</dt>
                    <dd>{{ voiture.PRIX }}€</dd>
                    <dt>Puissance</dt>
                    <dd>{{ voiture.PUISSANCE }} CV</dd>
                    <dt>Couple</dt>
                    <dd>{{ voiture.COUPLE }} NM</dd>
                    <dt>Vitesse maximale</dt>
                    <dd>{{ voiture.VITESSE_MAX }} km/h</dd>
                    <dt>Temps 0-100km/h</dt>
                    <dd>{{ voiture.ACCELERATION }} secondes</dd>
                    <dt>Carburant</dt>
                    <dd>{{ voiture.ENERGIE }}</dd>
                    <dt>Moteur</dt>
                    <dd>{{ voiture.MOTEUR }}</dd>
                </dl>
            </div>
        </article>
    </div>

{% endblock %}
