{% extends 'base.twig' %}
{% block title %} Liste des modèles
{% endblock %}
    {% block main %}
        <section>
            <h2>The Little Audi World</h2>
            {% for Voiture in voitures %}
                <a href="/voiture/{{ Voiture.ID }}">
                    <figure>
                        <img src="assets/img/{{ Voiture.MODELE|replace({' ': ''}) }}/{{ Voiture.PHOTO_1 }}" alt="{{ Voiture.MODELE }}" class="thumb" />
                        <figcaption>Découvrez le modèle {{ Voiture.MODELE }}</figcaption>
                    </figure>
                </a>
            {% endfor %}
        </section>
    {% endblock %}