body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

* {
    font-family: 'Montserrat', sans-serif;
}



#page-container {
    position: relative;
    min-height: 100vh;
    height: 100%;
}

#content-wrapper {
    margin-bottom: 12rem;
}

#footer {
    background: rgb(253, 169, 53);
    padding: 2em 0 2em 0;
    bottom : 0;
    position : absolute;
    width: 100%;
    height: 6rem;
}

footer img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

header > a {
    width: 512px;
    height: 112px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: transparent;
}

header > a:hover {
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}

fieldset legend {
    margin: 18px 0
}
header nav {
    background: rgb(253, 169, 53);
    padding: 0 0.8em;
}

header nav a {
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(223, 0, 44);
    border-bottom: 3px solid transparent;
}

header nav a:hover {
    border-bottom: 3px solid rgb(223, 0, 44);
}

main section, main article {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

main article {
    row-gap: 0;
}

main section h2, main article h2 {
    grid-column: 1/3;
    font-family: 'Staatliches', cursive;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    font-size: 3.6em;
    text-align: center;
}

main section a, main .grid aside a {
    display: block;
    text-decoration: none;
}

main section a figure, main .grid aside a, main article dl, main article img {
    margin: 0;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(253, 169, 53);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid rgb(223, 0, 44);

    display: block;
    margin: 0 auto;
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(223, 0, 44);
    padding: 0.8em 0;
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article dl dd {
    text-align: right;
    border-bottom: 1px dotted rgb(223, 0, 44);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
}

main article dl dd:last-of-type {
    border-bottom: none;
}



main .grid aside a figure {
    margin: 0;
}

main .grid aside a {
    margin-bottom: 15px;
}

main section a figure:hover, main .grid aside a figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

main section a figure img, main .grid aside a figure img {
    display: block;
    width: 100%;
}

main section a figure figcaption, main .grid aside a figure figcaption {
    padding: 0.3em;
    border-bottom: 3px solid transparent;
    color: rgb(223, 0, 44);
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 1.9em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

main section a:hover figure figcaption, main .grid aside a:hover figure figcaption {
    border-bottom-color: rgb(223, 0, 44);
}

main .grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr .5fr;
}

main .grid aside h3 {
    font-family: 'Staatliches', cursive;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    font-size: 2.6em;
    text-align: center;
}

th {
    font-weight: 600
}

td, th {
    border-bottom: 1.08px solid #595959;
    padding: 14.85px 18px;
    text-align: left;
    vertical-align: top
}

thead th {
    border-bottom-width: 2.16px;
    padding-bottom: 6.3px
}

table {
    display: table;
    width: 100%;
}

.thumb {
    height: 200px;
}